.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: #333;
  text-align: center;

  &__logo {
    width: 15rem;
    height: auto;
    margin-bottom: 8rem;
  }

  &__nav {
    border-top: 1px solid rgba($color-white, 0.2);
    padding-top: 2rem;
    display: inline-block;
    @include respond(phone) {
      padding-top: 1rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    color: $color-grey-dark;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      color: $color-grey-light-1;
    }
  }

  &__copyright {
    width: 80%;
    border-top: 1px solid rgba($color-white, 0.2);
    padding-top: 2rem;
  }

  @include respond(phone) {
    padding: 8rem 0;
  }
}
