.heading {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  &--primary {
    display: block;
    margin-bottom: -1rem;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 2s;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 6rem;
    }
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: moveInRight 2s;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}
